<%= turbo_frame_tag dom_id(Comment.new) do %>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>