
<%= turbo_frame_tag 'edit_post' do %>
<p style="color: green"><%= notice %></p>
  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path, target: '_top' %>
  
    <%= button_to "Destroy this post", post_path(@post), method: :delete, target: '_top' %>
  </div>
  <% end %>
  

  <div>
    <h2>Comments:</h2>
    <%= render @post.comments %>

    <%= turbo_frame_tag dom_id(Comment.new) do %>
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>
    <% end %>
  </div>
